.logo {
    height: 60px;
    width: 60px;
}
header {
    background-color:#30704F ;
}
nav a {
    text-decoration: none;
    color: white;
    border: 1px solid #8F9B43;
    padding: 15px 30px 15px 30px;
    margin: 0px 60px 0px 60px;
    background-color: #8F9B43;
    border-radius: 30px;
    font-size: 20px;
}
nav{
    text-align: center;
}
main {
    background-color: #AFBB67;
}
h1, h2 {
    color: white;
    text-align: center;
}
.top_3_img img{
    height: 200px;
    width: 200px;
}

.top_3_img{
    display: flex;
    justify-content: center;
}
main p {
    color: white;
    font-size: 25px;
}
footer {
    background-color: #30704F;
}
footer p {
    background-color: #A0C1B1;
    color: white;
}
